.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FCFFF9;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.wrapper h2{
    font-family: 'GS';
}

.wrapper p{
    font-family: "GSs";
}

.nav-bar{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.123);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    font-family: 'GSs';
}

.nav-bar span{
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.nav-bar p{
    font-size: medium;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}

.nav-izq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50vw;
}

.nav-der{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
}

.nav-der p{
    cursor: pointer;
}

.nav-izq p,span{
    cursor: default;
}

.nav-der p:hover{
    color:  rgb(255, 136, 0);
    font-size: 24px;
}

.body {
    padding: 20px;
    height: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.presentacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10vw;
}

.zona-izq {
    flex: 1;
    padding: 20px;
}

form {
    margin-bottom: 20px;
    width: 40vw;
    height: 50vh;
    font-family: 'GSs';
}

label {
    display: block;
    margin-bottom: 5px;
}

input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover{
    border: 1px solid orange;
}



button {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'GSs';
    font-size: 14px;
}

button:hover {
    background-color: rgb(141, 93, 4);
}

.zona-der {
    flex: 1;
    padding: 20px;
    margin-left: 10vw;
}

.iconos {
    display: flex;
    flex-direction: column;
    padding-top: 1.5vw;
}

.i1{
    display: flex;
    flex-direction: row;
}

.i2{
    display: flex;
    flex-direction: row;
}

.i3{
    display: flex;
    flex-direction: row;
}

.iconos svg,
.iconos mat-icon{
    padding-right: 1vw;
}

.wrapper-mobile{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    position: relative;   
    overflow-y: auto; 
}

.nav-bar-mobile {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.123);
    justify-content: space-around;
    font-family: 'GSs';
    padding-top: 0.5vh;;
}

.nav-bar-mobile p {
    cursor: pointer; 
    font-size: small;
    color: rgb(0, 0, 0);
    padding-top: 5px;
}

.body-mobile{
    display: flex;
    flex-direction: column;
    margin: 2.5vw;
}

.zona-sup-mobile{
    display: flex;
    flex-direction: column;
    font-family: 'GSs';
}

.zona-sup-mobile h2{
    font-family: 'GS';
    padding-top: 2vh;
    color: orange;
    font-size: 24px;
}

.iconos-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 1.5vw;
}

.i1-mobile,.i2-mobile,.i3-mobile{
    display: flex;
    flex-direction: row;
}

.iconos-mobile svg,
.iconos-mobile mat-icon{
    padding-right: 2vw;
}

.form-mobile {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-height: calc(100vh - 100px); 
    position: relative; 
}

