.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FCFFF9;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.nav-bar{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.123);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    font-family: 'GSs';
}

.nav-bar span{
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.nav-bar p{
    font-size: medium;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}

.nav-izq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50vw;
}

.nav-der{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
}

.nav-der p{
    cursor: pointer;
}

.nav-izq p,span{
    cursor: default;
}

.nav-der p:hover{
    color:  rgb(255, 136, 0);
    font-size: 24px;
}


.wrapper-mobile{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    position: relative;   
}

.nav-bar-mobile {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.123);
    justify-content: space-around;
    font-family: 'GSs';
    padding-top: 0.5vh;;
}

.nav-bar-mobile p {
    cursor: pointer; 
    font-size: small;
    color: rgb(0, 0, 0);
    padding-top: 5px;
}